.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


@font-face {
  font-family: ultra;
  src: url(../public/Ultra-Regular.ttf);
}

.ultra {
  font-family: ultra;
}


@font-face {
  font-family: agbalumo;
  src: url(../public/Agbalumo-Regular.ttf);
}

.agbalumo {
  font-family: agbalumo;
}

.custom-text-shadow {
  text-shadow: 2px 2px 8px rgba(35, 151, 209, 0.5);
}


::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(226, 96, 96, 0.3); /* Color of the thumb */
  border-radius: 4px; /* Border radius of the thumb */
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}